// TWK Lausanne Font Faces
// Notioneers brand typography

@font-face {
  font-family: 'TWK Lausanne';
  src: url('../../assets/fonts/TWKLausanne-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Lausanne';
  src: url('../../assets/fonts/TWKLausanne-300Italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Lausanne';
  src: url('../../assets/fonts/TWKLausanne-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Lausanne';
  src: url('../../assets/fonts/TWKLausanne-400Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Lausanne';
  src: url('../../assets/fonts/TWKLausanne-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Lausanne';
  src: url('../../assets/fonts/TWKLausanne-600Italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
